/* Project Full CSS */
/* Author: Jeff Porter */
/* Class: CS 290 - 400 */
/* Date: February 25, 2020 */

body{
	background-color: lightgray;
	padding: 0;
	margin: 0;
}

.containerCar{
	margin: 0 auto;
	padding-bottom: 20px;
	width: 80%;
}

.footerBar{
	background-color: #222;
	border-color: #080808;
	width: 100%;
	padding: 20px;
	text-align: center;
}

a.footer{
	font-size: 20px;
	color: lightgray;
	margin-left: 40px;
	margin-right: 40px;
}

a.footer:visited{
	font-size: 20px;
	color: lightgray;
}

.mainContent{
	margin: auto;
	width: 80%;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
}

.gridContainer{
	margin: auto;
}

.column{
	display: inline;
	float: left;
	width: 48%;
	margin: 1%;
	text-align: center;
}

.columnRight{
	display: inline;
	float: right;
	width: 48%;
	margin: 1%;
	text-align: center;
}

.noBullets{
	list-style-type: square;
	text-align: left;
}

.scrollBox{
	margin: auto;
	background-color: #222;
	color: lightgray;
	width: 350px;
	height: 350px;
	overflow: scroll;
	font-size: 16px;
}

div.inputBox{
	padding: 5px;
	border: 2px solid darkgray;
	border-radius: 5px;
	margin: 5px;
	text-align: left;
}